<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get weather details for any place or city. For ex, try India Gate, Dal Lake or Mount Everest! </p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>        

        <p id="loader"></p>

        <table id="output_table" border = "1" cellpadding = "5" cellspacing = "5">
            <tr>
                <td>Locality</td>
                <td id="area"></td>
            </tr>
            <tr>
                <td>Province/City</td>
                <td id="city"></td>
            </tr>
            <tr>
                <td>Country</td>
                <td id="country"></td>
            </tr>
            <tr>
                <td>Temperature</td>
                <td id="temp">&#8451</td>
            </tr>
            <tr>
                <td>Weather</td>
                <td id="weather_description"></td>
            </tr>
            <tr>
                <td>Wind Speed</td>
                <td id="wind_speed"></td>
            </tr>
            <tr>
                <td>Precipitation</td>
                <td id="precipitation"></td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td id="humidity"></td>
            </tr>
            <tr>
                <td>Feels like</td>
                <td id="feelslike">&#8451</td>
            </tr>
        </table>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>